; This is an ini file.
; Sadly, it's not named as .ini but it'll do for now.

appname = kahinah
httpaddr = 0.0.0.0
httpport = 8080
runmode = dev
usefcgi = false

db_prefix = kh_
db_type = sqlite3
db_name = data.sqlite
db_host = localhost:3306
db_user = root
db_pass = toor

abf_user = <USERNAME>
abf_pass = <API KEY>
abf_platforms = openmandriva2013.0;cooker

upperkarma = 3
lowerkarma = -3
maintainerkarma = 3
maintainerhours = 168

whitelist = false
adminwhitelist = robxu9@gmail.com
requireqa = true