; This is an ini file.
; Sadly, it's not named as .ini but it'll do for now.

appname = kahinah
httpaddr = 0.0.0.0
httpport = 8080
runmode = dev
usefcgi = false
;urlprefix = prefix

[database]

db_prefix = kh_
db_type = sqlite3
db_name = data.sqlite
db_host = localhost:3306
db_user = root
db_pass = toor

[abf]

abf_user = <USERNAME>
abf_pass = <PASSWORD>
abf_platforms = openmandriva2013.0:668
; for multiple platforms:
; abf_platforms = openmandriva2013.0:668;cooker:317

[karma]

upperkarma = 3
lowerkarma = -3
maintainerkarma = 3
maintainerhours = 168

[admin]

whitelist = false
adminwhitelist = robxu9@gmail.com
requireqa = true