<div class="row">
  <center><h4><i class="fa fa-frown-o"></i> Well, something went wrong. <small>Please let us known that this page has been invaded by monkeys.</small></h4></center>
  <br />
  <center><a {{action 'retryPrevious'}} class="button secondary">Try Again <small>and hope it works?</small></a></center>
</div>
