<h3>Welcome to Kahinah</h3>

<div class="row">
  <div class="small-6 columns">
    <ul>
      <li>What is Kahinah?</li>
      <li>Submitting an update for testing</li>
      <li>Issues with Kahinah</li>
    </ul>
  </div>
  <div class="small-6 columns">
    <ul>
      <li>Guidelines for testing updates</li>
      <li>The kahinah cli client</li>
      <li>Build System</li>
    </ul>
  </div>
</div>
