<h3>Updates <small>{{model.meta.total}} entries total</small></h3>

<div class="row results">
  <div class="large-12 columns ">
    <div class="row">
      <div class="large-9 columns">
        <h3>Latest Updates</h3>
      </div>
      <div class=" large-3 columns ">
        <select name="sortOptions">
          <option value="sortby">Sort By</option>
          <option value="cats">Cats</option>
          <option value="title">Title</option>
          <option value="author">Author</option>
          <option value="mrecats">More Cats</option>
        </select>
      </div>
    </div>
    <div class="search-results">
      <div class="row ">
        <div class="large-2 columns">
          <a href="#">
            <span> </span>
            <img src="http://placehold.it/150x200&text=book cover" alt="book cover" class=" thumbnail">
          </a>
        </div>
        <div class="large-10 columns">
          <div class="row">
            <div class=" large-9 columns">
              <h5><a href="#">Do cats hear with their feet? : where cats come from, what we know about them, and what they think about us </a>
              </h5>
              <p><a href="#"> Info</a> | <a href="#">Buy this book</a>
              </p>
            </div>
            <div class=" large-3 columns">
              <a href="#" class="button  expand medium">
                <span>Open Book</span>
              </a>
              <a href="#" class="button  expand medium">
                <span>Add to List</span>
              </a>
            </div>
            <div class="row">
              <div class=" large-12 columns">
                <ul class="large-block-grid-2">
                  <li>
                    <ul>
                      <li>
                        <strong>Author: </strong>John Doe</li>
                      <li>
                        <strong>Published:</strong> 2008</li>
                      <li>
                        <strong>More info:</strong> Lorem ipsum</li>
                      <li>
                        <strong>More cat stuff: </strong> cats cats cats</li>
                    </ul>
                  </li>
                  <li>
                    <ul>
                      <li>
                        <strong>Wow cats:</strong> so wow</li>
                      <li>
                        <strong>Lorem cats:</strong> ipsum kitty</li>
                      <li>
                        <strong>Series:</strong> all the cats</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="row ">
        <div class="large-2 columns">
          <a href="#">
            <span> </span>
            <img src="http://placehold.it/150x200&text=book cover" alt="book cover" class=" thumbnail">
          </a>
        </div>
        <div class="large-10 columns">
          <div class="row">
            <div class=" large-9 columns">
              <h5><a href="#">Do cats hear with their feet? : where cats come from, what we know about them, and what they think about us </a>
              </h5>
              <p><a href="#"> Info</a> | <a href="#">Buy this book</a>
              </p>
            </div>
            <div class=" large-3 columns">
              <a href="#" class="button  expand medium">
                <span>Open Book</span>
              </a>
              <a href="#" class="button  expand medium">
                <span>Add to List</span>
              </a>
            </div>
            <div class="row">
              <div class=" large-12 columns">
                <ul class="large-block-grid-2">
                  <li>
                    <ul>
                      <li>
                        <strong>Author: </strong>John Doe</li>
                      <li>
                        <strong>Published:</strong> 2008</li>
                      <li>
                        <strong>More info:</strong> Lorem ipsum</li>
                      <li>
                        <strong>More cat stuff: </strong> cats cats cats</li>
                    </ul>
                  </li>
                  <li>
                    <ul>
                      <li>
                        <strong>Wow cats:</strong> so wow</li>
                      <li>
                        <strong>Lorem cats:</strong> ipsum kitty</li>
                      <li>
                        <strong>Series:</strong> all the cats</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="row ">
        <div class="large-2 columns">
          <a href="#">
            <span> </span>
            <img src="http://placehold.it/150x200&text=book cover" alt="book cover" class=" thumbnail">
          </a>
        </div>
        <div class="large-10 columns">
          <div class="row">
            <div class=" large-9 columns">
              <h5><a href="#">Do cats hear with their feet? : where cats come from, what we know about them, and what they think about us </a>
              </h5>
              <p><a href="#"> Info</a> | <a href="#">Buy this book</a>
              </p>
            </div>
            <div class=" large-3 columns">
              <a href="#" class="button  expand medium">
                <span>Open Book</span>
              </a>
              <a href="#" class="button  expand medium">
                <span>Add to List</span>
              </a>
            </div>
            <div class="row">
              <div class=" large-12 columns">
                <ul class="large-block-grid-2">
                  <li>
                    <ul>
                      <li>
                        <strong>Author: </strong>John Doe</li>
                      <li>
                        <strong>Published:</strong> 2008</li>
                      <li>
                        <strong>More info:</strong> Lorem ipsum</li>
                      <li>
                        <strong>More cat stuff: </strong> cats cats cats</li>
                    </ul>
                  </li>
                  <li>
                    <ul>
                      <li>
                        <strong>Wow cats:</strong> so wow</li>
                      <li>
                        <strong>Lorem cats:</strong> ipsum kitty</li>
                      <li>
                        <strong>Series:</strong> all the cats</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="row ">
        <div class="large-2 columns">
          <a href="#">
            <span> </span>
            <img src="http://placehold.it/150x200&text=book cover" alt="book cover" class=" thumbnail">
          </a>
        </div>
        <div class="large-10 columns">
          <div class="row">
            <div class=" large-9 columns">
              <h5><a href="#">Do cats hear with their feet? : where cats come from, what we know about them, and what they think about us </a>
              </h5>
              <p><a href="#"> Info</a> | <a href="#">Buy this book</a>
              </p>
            </div>
            <div class=" large-3 columns">
              <a href="#" class="button  expand medium">
                <span>Open Book</span>
              </a>
              <a href="#" class="button  expand medium">
                <span>Add to List</span>
              </a>
            </div>
            <div class="row">
              <div class=" large-12 columns">
                <ul class="large-block-grid-2">
                  <li>
                    <ul>
                      <li>
                        <strong>Author: </strong>John Doe</li>
                      <li>
                        <strong>Published:</strong> 2008</li>
                      <li>
                        <strong>More info:</strong> Lorem ipsum</li>
                      <li>
                        <strong>More cat stuff: </strong> cats cats cats</li>
                    </ul>
                  </li>
                  <li>
                    <ul>
                      <li>
                        <strong>Wow cats:</strong> so wow</li>
                      <li>
                        <strong>Lorem cats:</strong> ipsum kitty</li>
                      <li>
                        <strong>Series:</strong> all the cats</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <a href="#" class="button right"> show more results &raquo;</a>
  </div>
</div>
