<div id="flash" data-alert class="alert-box radius {{type}}" tabindex="0" aria-live="assertive" role="dialogalert">
  {{text}}
  <button href="#" tabindex="0" class="close" aria-label="Close Alert">&times;</button>
</div>
